body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar h2{
    margin: 20px 10px 20px 40px;
}

.navbar a h4{
    margin: 20px 40px 20px 10px;
    text-decoration: none;
    color: black;
}